<div class="card">
    <h4 class="card-header">Product by category</h4>
    {{#if (eq products.length 0)}} 
        <div class="row g-3 p-3">   
            <div class="col-md-6">  
                <p>Không có sản phẩm nào trong danh mục này</p>
            </div>
        </div>
        {{else}}
            <div class="row g-3 p-3">
            {{#each products}}
            <div class="col-md-6">
                <div class="card">
                    <img src="/static/imgs/sp/{{proid}}/main_thumbs.jpg" class="card-img-top" alt="/static/imgs/sp/{{proid}}/main_thumbs.jpg">
                    <div class="card-body">
                        <h4 class="card-title">{{proname}}</h4>
                        <h5 class="card-title text-danger">{{formatNumber price}}</h5>
                        <p class="card-text">{{tinydes}}</p>
                        <a href="#" class="btn btn-outline-primary btn-sm  "> <i class="bi bi-info-circle"></i> Go somewhere</a>
                        <a href="#" class="btn btn-outline-success btn-sm float-end"> <i class="bi bi-cart-plus"></i> Add to cart</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/if}}
</div>
